

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: normal 16px;
}

header{
    width: 800px;
    height: 100px;
    background-color: green;
    
}

main{
    background-color: white;
}

h1 > header{
    text-align: center;
}